{
  "TOKEN": "NzMwMjU1MzUzNjc3MzQ4OTQ2.XwU1Sw.126_doD93RSGB3LqTkjHAmRBs60",
  "YOUTUBE_API_KEY": "AIzaSyA0C5VvR5TApOTGgYrub93979rDdIZWy-4",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "k",
  "PRUNING": false,
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
